include README.md
include LICENSE
recursive-include src/whitebit *.py
recursive-include src/whitebit py.typed
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
