# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.sub_account_api_key import SubAccountApiKey
from .raw_client import AsyncRawSubAccountApiKeysClient, RawSubAccountApiKeysClient
from .types.create_sub_account_api_key_ip_address_response import CreateSubAccountApiKeyIpAddressResponse
from .types.delete_sub_account_api_key_ip_address_response import DeleteSubAccountApiKeyIpAddressResponse
from .types.edit_sub_account_api_key_request_urls_item import EditSubAccountApiKeyRequestUrlsItem
from .types.list_sub_account_api_key_ip_addresses_response import ListSubAccountApiKeyIpAddressesResponse
from .types.list_sub_account_api_keys_response import ListSubAccountApiKeysResponse

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class SubAccountApiKeysClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawSubAccountApiKeysClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawSubAccountApiKeysClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawSubAccountApiKeysClient
        """
        return self._raw_client

    def create_sub_account_api_key(
        self,
        *,
        type: int,
        sub_account_id: str,
        title: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> SubAccountApiKey:
        """
        The endpoint creates a new API key for a [sub-account](/glossary#sub-account).

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        type : int
            Type of API key (1 - info and trading; 2 - info, trading, deposits, withdraws)

        sub_account_id : str
            ID of the sub-account to create the API key for

        title : typing.Optional[str]
            Custom title/name for the API key

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SubAccountApiKey
            API key created successfully

        Examples
        --------
        from whitebit import WhitebitApi
        client = WhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        client.sub_account_api_keys.create_sub_account_api_key(type=1, sub_account_id='8e667b4a-0b71-4988-8af5-9474dbfaeb51', )
        """
        _response = self._raw_client.create_sub_account_api_key(
            type=type, sub_account_id=sub_account_id, title=title, request_options=request_options
        )
        return _response.data

    def edit_sub_account_api_key(
        self,
        *,
        api_key_id: str,
        title: str,
        urls: typing.Sequence[EditSubAccountApiKeyRequestUrlsItem],
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.Dict[str, typing.Optional[typing.Any]]:
        """
        The endpoint updates an existing [sub-account](/glossary#sub-account) API key.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        api_key_id : str
            ID of the API key to update

        title : str
            New title for the API key

        urls : typing.Sequence[EditSubAccountApiKeyRequestUrlsItem]
            Array of URL objects for API key restrictions

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, typing.Optional[typing.Any]]
            API key updated successfully

        Examples
        --------
        from whitebit import WhitebitApi
        from whitebit.sub_account_api_keys import EditSubAccountApiKeyRequestUrlsItem
        client = WhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        client.sub_account_api_keys.edit_sub_account_api_key(api_key_id='a1b2c3d4-e5f6-7890-abcd-ef1234567890', title='Trading Bot Key', urls=[EditSubAccountApiKeyRequestUrlsItem(url='/api/v4/main-account/withdraw', enable=False, ), EditSubAccountApiKeyRequestUrlsItem(url='/api/v4/main-account/balance', enable=True, )], )
        """
        _response = self._raw_client.edit_sub_account_api_key(
            api_key_id=api_key_id, title=title, urls=urls, request_options=request_options
        )
        return _response.data

    def delete_sub_account_api_key(
        self, *, api_key_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Dict[str, typing.Optional[typing.Any]]:
        """
        The endpoint deletes a [sub-account](/glossary#sub-account) API key.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        api_key_id : str
            ID of the API key to delete

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, typing.Optional[typing.Any]]
            API key deleted successfully

        Examples
        --------
        from whitebit import WhitebitApi
        client = WhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        client.sub_account_api_keys.delete_sub_account_api_key(api_key_id='a1b2c3d4-e5f6-7890-abcd-ef1234567890', )
        """
        _response = self._raw_client.delete_sub_account_api_key(api_key_id=api_key_id, request_options=request_options)
        return _response.data

    def list_sub_account_api_keys(
        self,
        *,
        sub_account_id: typing.Optional[str] = OMIT,
        limit: typing.Optional[int] = OMIT,
        offset: typing.Optional[int] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ListSubAccountApiKeysResponse:
        """
        The endpoint retrieves a list of API keys for a [sub-account](/glossary#sub-account).
        Note: For security reasons, the apiSecret field returns an empty string.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        sub_account_id : typing.Optional[str]
            ID of the sub-account to list API keys for

        limit : typing.Optional[int]

        offset : typing.Optional[int]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListSubAccountApiKeysResponse
            Successful response

        Examples
        --------
        from whitebit import WhitebitApi
        client = WhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        client.sub_account_api_keys.list_sub_account_api_keys()
        """
        _response = self._raw_client.list_sub_account_api_keys(
            sub_account_id=sub_account_id, limit=limit, offset=offset, request_options=request_options
        )
        return _response.data

    def reset_sub_account_api_key(
        self, *, api_key_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Dict[str, typing.Optional[typing.Any]]:
        """
        The endpoint resets (regenerates) an existing [sub-account](/glossary#sub-account) API key.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        api_key_id : str
            ID of the API key to reset

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, typing.Optional[typing.Any]]
            API key reset successfully

        Examples
        --------
        from whitebit import WhitebitApi
        client = WhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        client.sub_account_api_keys.reset_sub_account_api_key(api_key_id='a1b2c3d4-e5f6-7890-abcd-ef1234567890', )
        """
        _response = self._raw_client.reset_sub_account_api_key(api_key_id=api_key_id, request_options=request_options)
        return _response.data

    def list_sub_account_api_key_ip_addresses(
        self, *, api_key_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> ListSubAccountApiKeyIpAddressesResponse:
        """
        The endpoint retrieves the list of IP addresses allowed for a [sub-account](/glossary#sub-account) API key.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        api_key_id : str
            ID of the API key to list IP addresses for

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListSubAccountApiKeyIpAddressesResponse
            Successful response

        Examples
        --------
        from whitebit import WhitebitApi
        client = WhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        client.sub_account_api_keys.list_sub_account_api_key_ip_addresses(api_key_id='a1b2c3d4-e5f6-7890-abcd-ef1234567890', )
        """
        _response = self._raw_client.list_sub_account_api_key_ip_addresses(
            api_key_id=api_key_id, request_options=request_options
        )
        return _response.data

    def create_sub_account_api_key_ip_address(
        self, *, api_key_id: str, ip: str, request_options: typing.Optional[RequestOptions] = None
    ) -> CreateSubAccountApiKeyIpAddressResponse:
        """
        The endpoint adds a new IP address to the allowed list for a [sub-account](/glossary#sub-account) API key.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        api_key_id : str
            ID of the API key to add IP address to

        ip : str
            IP address to add to allowed list

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CreateSubAccountApiKeyIpAddressResponse
            IP address added successfully

        Examples
        --------
        from whitebit import WhitebitApi
        client = WhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        client.sub_account_api_keys.create_sub_account_api_key_ip_address(api_key_id='a1b2c3d4-e5f6-7890-abcd-ef1234567890', ip='192.168.1.100', )
        """
        _response = self._raw_client.create_sub_account_api_key_ip_address(
            api_key_id=api_key_id, ip=ip, request_options=request_options
        )
        return _response.data

    def delete_sub_account_api_key_ip_address(
        self, *, api_key_id: str, ip: str, request_options: typing.Optional[RequestOptions] = None
    ) -> DeleteSubAccountApiKeyIpAddressResponse:
        """
        The endpoint removes an IP address from the allowed list for a [sub-account](/glossary#sub-account) API key.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        api_key_id : str
            ID of the API key to remove IP address from

        ip : str
            IP address to remove from allowed list

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        DeleteSubAccountApiKeyIpAddressResponse
            IP address removed successfully

        Examples
        --------
        from whitebit import WhitebitApi
        client = WhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        client.sub_account_api_keys.delete_sub_account_api_key_ip_address(api_key_id='a1b2c3d4-e5f6-7890-abcd-ef1234567890', ip='192.168.1.100', )
        """
        _response = self._raw_client.delete_sub_account_api_key_ip_address(
            api_key_id=api_key_id, ip=ip, request_options=request_options
        )
        return _response.data


class AsyncSubAccountApiKeysClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawSubAccountApiKeysClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawSubAccountApiKeysClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawSubAccountApiKeysClient
        """
        return self._raw_client

    async def create_sub_account_api_key(
        self,
        *,
        type: int,
        sub_account_id: str,
        title: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> SubAccountApiKey:
        """
        The endpoint creates a new API key for a [sub-account](/glossary#sub-account).

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        type : int
            Type of API key (1 - info and trading; 2 - info, trading, deposits, withdraws)

        sub_account_id : str
            ID of the sub-account to create the API key for

        title : typing.Optional[str]
            Custom title/name for the API key

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SubAccountApiKey
            API key created successfully

        Examples
        --------
        from whitebit import AsyncWhitebitApi
        import asyncio
        client = AsyncWhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        async def main() -> None:
            await client.sub_account_api_keys.create_sub_account_api_key(type=1, sub_account_id='8e667b4a-0b71-4988-8af5-9474dbfaeb51', )
        asyncio.run(main())
        """
        _response = await self._raw_client.create_sub_account_api_key(
            type=type, sub_account_id=sub_account_id, title=title, request_options=request_options
        )
        return _response.data

    async def edit_sub_account_api_key(
        self,
        *,
        api_key_id: str,
        title: str,
        urls: typing.Sequence[EditSubAccountApiKeyRequestUrlsItem],
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.Dict[str, typing.Optional[typing.Any]]:
        """
        The endpoint updates an existing [sub-account](/glossary#sub-account) API key.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        api_key_id : str
            ID of the API key to update

        title : str
            New title for the API key

        urls : typing.Sequence[EditSubAccountApiKeyRequestUrlsItem]
            Array of URL objects for API key restrictions

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, typing.Optional[typing.Any]]
            API key updated successfully

        Examples
        --------
        from whitebit import AsyncWhitebitApi
        from whitebit.sub_account_api_keys import EditSubAccountApiKeyRequestUrlsItem
        import asyncio
        client = AsyncWhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        async def main() -> None:
            await client.sub_account_api_keys.edit_sub_account_api_key(api_key_id='a1b2c3d4-e5f6-7890-abcd-ef1234567890', title='Trading Bot Key', urls=[EditSubAccountApiKeyRequestUrlsItem(url='/api/v4/main-account/withdraw', enable=False, ), EditSubAccountApiKeyRequestUrlsItem(url='/api/v4/main-account/balance', enable=True, )], )
        asyncio.run(main())
        """
        _response = await self._raw_client.edit_sub_account_api_key(
            api_key_id=api_key_id, title=title, urls=urls, request_options=request_options
        )
        return _response.data

    async def delete_sub_account_api_key(
        self, *, api_key_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Dict[str, typing.Optional[typing.Any]]:
        """
        The endpoint deletes a [sub-account](/glossary#sub-account) API key.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        api_key_id : str
            ID of the API key to delete

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, typing.Optional[typing.Any]]
            API key deleted successfully

        Examples
        --------
        from whitebit import AsyncWhitebitApi
        import asyncio
        client = AsyncWhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        async def main() -> None:
            await client.sub_account_api_keys.delete_sub_account_api_key(api_key_id='a1b2c3d4-e5f6-7890-abcd-ef1234567890', )
        asyncio.run(main())
        """
        _response = await self._raw_client.delete_sub_account_api_key(
            api_key_id=api_key_id, request_options=request_options
        )
        return _response.data

    async def list_sub_account_api_keys(
        self,
        *,
        sub_account_id: typing.Optional[str] = OMIT,
        limit: typing.Optional[int] = OMIT,
        offset: typing.Optional[int] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> ListSubAccountApiKeysResponse:
        """
        The endpoint retrieves a list of API keys for a [sub-account](/glossary#sub-account).
        Note: For security reasons, the apiSecret field returns an empty string.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        sub_account_id : typing.Optional[str]
            ID of the sub-account to list API keys for

        limit : typing.Optional[int]

        offset : typing.Optional[int]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListSubAccountApiKeysResponse
            Successful response

        Examples
        --------
        from whitebit import AsyncWhitebitApi
        import asyncio
        client = AsyncWhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        async def main() -> None:
            await client.sub_account_api_keys.list_sub_account_api_keys()
        asyncio.run(main())
        """
        _response = await self._raw_client.list_sub_account_api_keys(
            sub_account_id=sub_account_id, limit=limit, offset=offset, request_options=request_options
        )
        return _response.data

    async def reset_sub_account_api_key(
        self, *, api_key_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Dict[str, typing.Optional[typing.Any]]:
        """
        The endpoint resets (regenerates) an existing [sub-account](/glossary#sub-account) API key.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        api_key_id : str
            ID of the API key to reset

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Dict[str, typing.Optional[typing.Any]]
            API key reset successfully

        Examples
        --------
        from whitebit import AsyncWhitebitApi
        import asyncio
        client = AsyncWhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        async def main() -> None:
            await client.sub_account_api_keys.reset_sub_account_api_key(api_key_id='a1b2c3d4-e5f6-7890-abcd-ef1234567890', )
        asyncio.run(main())
        """
        _response = await self._raw_client.reset_sub_account_api_key(
            api_key_id=api_key_id, request_options=request_options
        )
        return _response.data

    async def list_sub_account_api_key_ip_addresses(
        self, *, api_key_id: str, request_options: typing.Optional[RequestOptions] = None
    ) -> ListSubAccountApiKeyIpAddressesResponse:
        """
        The endpoint retrieves the list of IP addresses allowed for a [sub-account](/glossary#sub-account) API key.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        api_key_id : str
            ID of the API key to list IP addresses for

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        ListSubAccountApiKeyIpAddressesResponse
            Successful response

        Examples
        --------
        from whitebit import AsyncWhitebitApi
        import asyncio
        client = AsyncWhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        async def main() -> None:
            await client.sub_account_api_keys.list_sub_account_api_key_ip_addresses(api_key_id='a1b2c3d4-e5f6-7890-abcd-ef1234567890', )
        asyncio.run(main())
        """
        _response = await self._raw_client.list_sub_account_api_key_ip_addresses(
            api_key_id=api_key_id, request_options=request_options
        )
        return _response.data

    async def create_sub_account_api_key_ip_address(
        self, *, api_key_id: str, ip: str, request_options: typing.Optional[RequestOptions] = None
    ) -> CreateSubAccountApiKeyIpAddressResponse:
        """
        The endpoint adds a new IP address to the allowed list for a [sub-account](/glossary#sub-account) API key.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        api_key_id : str
            ID of the API key to add IP address to

        ip : str
            IP address to add to allowed list

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CreateSubAccountApiKeyIpAddressResponse
            IP address added successfully

        Examples
        --------
        from whitebit import AsyncWhitebitApi
        import asyncio
        client = AsyncWhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        async def main() -> None:
            await client.sub_account_api_keys.create_sub_account_api_key_ip_address(api_key_id='a1b2c3d4-e5f6-7890-abcd-ef1234567890', ip='192.168.1.100', )
        asyncio.run(main())
        """
        _response = await self._raw_client.create_sub_account_api_key_ip_address(
            api_key_id=api_key_id, ip=ip, request_options=request_options
        )
        return _response.data

    async def delete_sub_account_api_key_ip_address(
        self, *, api_key_id: str, ip: str, request_options: typing.Optional[RequestOptions] = None
    ) -> DeleteSubAccountApiKeyIpAddressResponse:
        """
        The endpoint removes an IP address from the allowed list for a [sub-account](/glossary#sub-account) API key.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

        <Note>
        The API does not cache the response.
        </Note>

        Parameters
        ----------
        api_key_id : str
            ID of the API key to remove IP address from

        ip : str
            IP address to remove from allowed list

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        DeleteSubAccountApiKeyIpAddressResponse
            IP address removed successfully

        Examples
        --------
        from whitebit import AsyncWhitebitApi
        import asyncio
        client = AsyncWhitebitApi(txc_apikey="YOUR_TXC_APIKEY", token="YOUR_TOKEN", )
        async def main() -> None:
            await client.sub_account_api_keys.delete_sub_account_api_key_ip_address(api_key_id='a1b2c3d4-e5f6-7890-abcd-ef1234567890', ip='192.168.1.100', )
        asyncio.run(main())
        """
        _response = await self._raw_client.delete_sub_account_api_key_ip_address(
            api_key_id=api_key_id, ip=ip, request_options=request_options
        )
        return _response.data
